<!DOCTYPE html>
 {#Autor:#}
 {#Krzysztof Orzoł 129397#}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>ZMIO</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ asset('bundles/app/assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/assets/css/custom.css') }}"  rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugin/treant/Treant.css') }}"  rel="stylesheet" />
    {#<link href="{{ asset('bundles/app/assets/plugin/treant/examples/connectors/connectors.js') }}"  rel="stylesheet" />#}

    <script src="{{ asset('bundles/app/assets/js/jquery.min.js') }}"></script>
    <style>
        /*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }*/
        /*table { border-collapse:collapse; border-spacing:0; }*/
        /*fieldset,img { border:0; }*/
        /*address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }*/
        /*caption,th { text-align:left; }*/
        /*h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }*/
        /*q:before,q:after { content:''; }*/
        /*abbr,acronym { border:0; }*/

        /*body { background: #fff; }*/
        /* optional Container STYLES */
        .chart { height: 600px; margin: 5px; width: 900px; }
        .Treant > .node {  }
        .Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
        .node-name { font-weight: bold;}

        .nodeExample1 {
            padding: 2px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: #ffffff;
            border: 1px solid #000;
            width: 200px;
            font-family: Tahoma;
            font-size: 12px;
        }

        .nodeExample1 img {
            margin-right:  10px;
        }
        .m-r-20{
            margin-right: 20px;
        }
        table tr td:last-child *{
            margin: 0;
        }
    </style>
</head>
<body>
<div class="container">
    <header id="header">
        <h1>Zastosowanie Metod Inteligencji Obliczeniowej</h1>
        {#<a href="{{ asset('source/klasyfikatory.zip') }}" class=" btn btn-success btn-xs pull-right m-r-20">Pobierz pliki źródłowe</a>#}
    </header>
    <main id="main">
        <div class="content">
            <div class="row">
                <div class="col-md-2">
                    <form id="form_file" action="{{ path('homepage') }}" method="POST"/>
                    <div class="form-group">
                        <label for="select_file">Wybierz plik z danymi:</label>
                        <select name="fileName" id="select_file">
                            {% for file in files %}
                                <option value="{{ file }}" {% if fileSelect == file %}selected{% endif %}>{{ file }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="delete_file_input" name="deleteFile" value="0">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success selectBtn">Wybierz</button>
                        <button type="submit" class="btn btn-sm btn-danger deleteBtn">Usuń</button>
                    </div>
                    </form>
                </div>
                <div class="col-md-3">
                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.file) }}
                            {{ form_widget(form.file, { 'attr': {'class': 'form-control' }}) }}
                            <div class="col-md-offset-4 error-div">{{ form_errors(form.file) }}</div>
                        </div>
                        <div class="form-group">
                             <button type="submit" class="btn btn-sm btn-success" >Wyślij</button>
                        </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-7">

                        <a class="btn btn-lg btn-success generate">Generuj</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-5">
                        <form id="form_generate" action="{{ path('homepage') }}" method="POST"/>
                        <input type="hidden" name="fileName" value="{{ fileSelect }}">
                        <input type="hidden" name="generate" value="1">
                            <table class="table" style="font-size: 10px;">
                                <thead>
                                <tr>
                                    {% for header in headers %}
                                    <th>{{ header }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                {% set countRow = 0 %}
                                {% for attr in data %}
                                    {% set countRow = countRow+1 %}
                                    <tr>
                                        {% for value in attr %}
                                            <td {% if loop.last %} style="font-weight: bold;"{% endif %}>{{ value }}</td>
                                        {% endfor %}
                                        {#{% if countRows > countRow %}#}
                                            {#{% for value in attr %}#}
                                                {#<td {% if loop.last %} style="font-weight: bold;"{% endif %}>{{ value }}</td>#}
                                            {#{% endfor %}#}
                                        {#{% else %}#}
                                            {#{% set countCol = 0 %}#}
                                            {#{% for value in attr %}#}
                                                {#<td><input type="text" name="input[{{ countRow }}][{{ countCol }}]" class="form-control" value="{{ value }}"/></td>#}
                                                {#{% set countCol = countCol+1 %}#}
                                            {#{% endfor %}#}
                                        {#{% endif %}#}
                                    </tr>
                                {% endfor %}
                                <tr class="add_row_tr">
                                    <td colspan="{{ countColumn }}"><a class="btn btn-sm btn-success add_row">Dodaj nowy przypadek</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="col-md-5">
                        {% if rulesList is not empty %}
                            {#<fieldset>#}
                                {% for key, rule in rulesList %}
                                 <div class="row" style="{% if checkRuleResult is not null and checkRuleResult.RuleID == key %}background: red;{% endif %} border-bottom: black dotted 1px;">   {{ rule }}</div>
                                {% endfor %}
                            {#</fieldset>#}
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <form action="" method="POST">
                            {% if numberOfIntervals is not empty %}
                                    <div class="row">
                                        <div class="form-group">
                                            {#Dane w kolumnach#}
                                            {#{% for key, interval in numberOfIntervals %}{% dump(interval) %}{% if key != 0 %}, {% endif %}{{ interval.tag }}{% endfor %}#}
                                            {#nie są dyskretne. #}
                                            <br />Proszę wprowadzić ilość przedziałów dla poszczególnych kolumn:
                                        </div>
                                        {% for key, interval in numberOfIntervals %}
                                            <div class="form-group col-md-{{ 12 / numberOfIntervals|length }}">
                                                <label for="input_interval_{{ interval.tag }}">{{ interval.tag }}:</label> <input type="number" min="1" class="form-control" name="interval[{{ interval.tag }}]" id="input_interval_{{ interval.tag }}" value="{{ interval.text }}" />
                                            </div>
                                        {% endfor %}
                                        <div class="form-group">
                                            <button type="submit" name="interval_accept" value="1" class="btn btn-sm btn-success" >Zatwierdź</button>
                                        </div>
                                    </div>
                            {% endif %}
                            <input type="hidden" name="fileName" value="{{ fileSelect }}">
                            {% if generateClick %}
                            <div class="row">
                                {#<div class="col-md-12">#}
                                    {% for key, textBox in distinctValues %}
                                        {% if textBox.isNumeric %}
                                            <div class="form-group col-md-{{ 12 / distinctValues|length }}">
                                                <label for="input_rule_{{ textBox.tag }}">{{ textBox.tag }}:</label> <input type="text" class="form-control" name="rule[{{ textBox.tag }}]" id="input_rule_{{ textBox.tag }}" value="{{ textBox.text }}" />
                                            </div>
                                        {% else %}
                                            <div class="form-group col-md-{{ 12 / distinctValues|length }}">
                                                <label for="rule{{ textBox.tag }}">{{ textBox.tag }}:</label>
                                                <select class="form-control" name="rule[{{ textBox.tag }}]">
                                                    {% for option in textBox.multipleValue %}
                                                        <option {% if textBox.text == option %}selected{% endif %} value="{{ option }}">{{ option }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="row">
                                        <div class="col-md-12">
                                        <button type="submit" name="check" value="1" class="btn btn-lg btn-success check" >Sprawdź</button>
                                        {% if checkResult is not null %}
                                            Wynik: {{ checkResult }}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-md-12">
                                        <button type="submit" name="check_rule" value="1" class="btn btn-lg btn-success check" >Sprawdź regułę</button>
                                            <div class="col-md-12">
                                                {% if checkRuleResult is not null %}
                                                    Wynik: {{ checkRuleResult.result }} <br />
                                                    Regula: {{ checkRuleResult.rule }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {#</div>#}
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="tree-simple"> </div>
                </div>
            </div>
        </div>
    </main>
<footer class="footer">
</footer>
    <script src="{{ asset('bundles/app/assets/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/plugin/treant/vendor/raphael.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/plugin/treant/Treant.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/plugin/treant/examples/connectors/connectors.js') }}"></script>
<script>
    $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    $(document).ready(function() {
        var countRow = {{ countRow }};
        $('.add_row').on('click', function () {
            var count = {{ countColumn }};

            var row = '<tr>';
            if(count != 0){
                for(var i = 0; i<count; i++){
                    console.log(i);
                    row += '<td><input type="text" name="input['+(countRow+1)+']['+i+']" class="form-control"/></td>';
                }
            }
            row += '<tr>';

            $('.add_row_tr').before(row);
            countRow++;

        });

        $('.deleteBtn').on('click', function () {
            $('#delete_file_input').attr('value', '1');
        });
        $('.selectBtn').on('click', function () {
            $('#delete_file_input').attr('value', '0');
        });
        $('.generate').on('click', function () {
            $('#form_generate').submit();
        });

        var treeJson = JSON.parse('{{ tableJson|raw }}');


        var chart_config = {
//            chart: {
//                container: "#tree-simple",
//
//                animateOnInit: true,
//                connectors: {
//                    type: 'step'
//                },
//                node: {
//                    HTMLclass: 'nodeExample1'
//                },
//                animation: {
//                    nodeAnimation: "easeOutBounce",
//                    nodeSpeed: 700,
//                    connectorsAnimation: "bounce",
//                    connectorsSpeed: 700
//                }
//            },
            chart: {
                container: "#tree-simple",
                levelSeparation: 45,

                rootOrientation: "WEST",

                nodeAlign: "BOTTOM",

                connectors: {
                    type: "step",
                    style: {
                        "stroke-width": 2
                    }
                },
                node: {
                    HTMLclass: "nodeExample1"
                }
            },

            nodeStructure: treeJson
        };

        new Treant( chart_config );

    });
</script>
</body>
</html>
